{% extends "homepage.html" %}
  
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/pedidos.css') }}">


{% endblock %}

{% block header %}
<header>
    <div class="logo">
      <a href="/"> <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
</div>
    <nav class="navbar">
      <div class=" botoes">
    
        <ul>
          <a href="/"><li>Início</li></a>
          <a href="/cardapio"><li>Cardápio</li></a>
          <a href="/eventos"><li>Eventos</li></a>
          <a href="/pedidos"><li>Pedidos</li></a>
          <a href="/adm"><li>Admin</li></a>
          </ul>
    
    </div>
    </class>
    </nav>
</class>
</header>
{% endblock %}

{% block main1 %}
<main>
<!-- Parte que diz "Faça seu pedido" -->
<div class="pedido-container">
  <h1>Faça seu Pedido</h1>
  <p>Escolha uma das opções abaixo para fazer seu pedido:</p>
</div>

<!-- Contêiner de opções -->
<div class="opcoes-container">
  <a href="/marmitas" class="opcao-botao">MARMITAS</a>
  <a href="/pratofeito" class="opcao-botao">PRATO FEITO</a>
</div>

  </body>
</main>
 {% endblock %} 