{% extends "homepage.html" %}
  
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mensagem_pedidos.css') }}">
{% endblock %}

{% block header %}
<header>
    <div class="logo">
      <a href="/"> <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
</div>
    <nav class="navbar">
      <div class=" botoes">
    
        <ul>
          <a href="/"><li>Início</li></a>
          <a href="/cardapio"><li>Cardápio</li></a>
          <a href="/eventos"><li>Eventos</li></a>
          <a href="/pedidos"><li>Pedidos</li></a>
          <a href="/adm"><li>Admin</li></a>
        </ul>

    </div>
    </class>
    </nav>
</class>
</header>
{% endblock %}

{% block main1 %}
<main>
   
  <div class="sucesso-container">
    <div class="sucesso-message">
        <h1 class="title">Pedido Enviado com Sucesso!</h1>
        <p class="carinho-message">Obrigado por escolher nosso restaurante! 😄</p>
        <p class="sub-message">Seu pedido está sendo preparado com carinho e logo estará pronto.</p>
        
        <!-- Botão para voltar à homepage -->
        <a href="{{ url_for('homepage') }}" class="botao-homepage">Voltar para a Home</a>
    </div>
</div>

  
  </main>
  {% endblock %}